{% extends "base.html" %}

{% block header %}
<link href="/static/lib/editor/editor.css" rel="stylesheet">
<link href="/static/lib/webuploader/webuploader.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-8 blog-detail">

    <div class="title"><h1>{{ blog.title }}</h1></div>

    <div class="desp">
      <p class="right">
        {% if author.id == g.user.id %}
        <span><a href={{ url_for('blogs.edit_blog', blogid=blog.id) }}>编辑</a></span><span><a class="warn">删除</a></span>
        {% endif %}
        <span>评论 5</span>
        <span>浏览 {{ blog.read_num }}</span>
      </p>
      <p>{{ blog.created_at }}<span>作者：<a href="#">{{ author.name }}</a></span><span>修改于：{{ blog.modified_at }}</span></p>
    </div>

    <hr>

    <div class="content">{{ blog.content|safe }}</div>

    <div class="footer">
      <a href="#" class="right">下一篇<span class="glyphicon glyphicon-chevron-right"></span></a>
      <a href="#"><span class="glyphicon glyphicon-chevron-left"></span>上一篇</a>
    </div>
    

    <div style="margin-top:30px;">
      <div class="sidebar-module sidebar-module-inset">
        <div>
          <div style="float:left; margin-right:10px;"><img src="/static/img/logo_light40.png" width=36></img></div>
          <div style="float:left; margin-right:5px;"><a>落地尘风</a></div>
          <div>2天前</div>
        </div>
        <div style="margin-left:46px;">这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论</div>
      </div>

      <div class="sidebar-module sidebar-module-inset">
        <div>
          <div style="float:left; margin-right:10px;"><img src="/static/img/logo_light40.png" width=36></img></div>
          <div style="float:left; margin-right:5px;"><a>落地尘风</a></div>
          <div>2天前</div>
        </div>
        <div style="margin-left:46px;">这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论</div>
      </div>

      <div class="sidebar-module sidebar-module-inset">
        <div>
          <div style="float:left; margin-right:10px;"><img src="/static/img/logo_light40.png" width=36></img></div>
          <div style="float:left; margin-right:5px;"><a>落地尘风</a></div>
          <div>2天前</div>
        </div>
        <div style="margin-left:46px;">这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论</div>
      </div>

      <div class="sidebar-module sidebar-module-inset">
        <div>
          <div style="float:left; margin-right:10px;"><img src="/static/img/logo_light40.png" width=36></img></div>
          <div style="float:left; margin-right:5px;"><a>落地尘风</a></div>
          <div>2天前</div>
        </div>
        <div style="margin-left:46px;">这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论这里是评论</div>
      </div>
    </div>

    <div class="sidebar-module sidebar-module-inset">
      <form id="edit_blog_form" action={{ url_for('blogs.create_blog') }} method='post'>
        <div class="markdown-editor">
          <textarea class="editor" name="content" rows="8"></textarea>
        </div>
        <div class="editor-buttons">
          <input type="submit" class="span-common span-primary" value="回复">
        </div>
      </form>
    </div>

  </div>

  <div class="col-md-4">
    <div class="blog-sidebar">
    {% include "sidebar/author.html" %}
    {% if not g.user %}
    {% include "sidebar/usercard.html" %}
    {% endif %}
    {% include "sidebar/archive.html" %}
    </div>
  </div>
</div>
{% endblock %}

{% block bottom %}
<script src="/static/lib/editor/editor.js"></script>
<script src="/static/lib/webuploader/webuploader.withoutimage.js"></script>
<script src="/static/lib/editor/ext.js"></script>
<script>
(function () {
    var editor = new Editor();
    editor.render($('.editor')[0]);

    $("#edit_blog_form").on("submit", function(e) {
      
    });
})();
</script>
{% endblock %}