{% extends "base.html" %}

{% block header %}
<link href="/static/lib/editor/editor.css" rel="stylesheet">
<link href="/static/lib/webuploader/webuploader.css" rel="stylesheet">
<link href="/static/css/friendly.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-8 blog-detail">

    <h1 class="title">{{ blog.title }}</h1>

    <div class="desp">
      <p class="right">
        {% if author.id == g.user.id %}
        <span><a href="{{ url_for('blogs.edit_blog', blogid=blog.id) }}">编辑</a></span><span><a href="#" id="delete_blog">删除</a></span>
        {% endif %}
        <span>评论 {{ blog.comment_num }}</span>
        <span>浏览 {{ blog.read_num }}</span>
      </p>
      <p>{{ blog.created_at }}<span><a href="{{ url_for('users.profile', userid=author.id) }}">{{ author.name }}</a></span><span>修改于：{{ blog.modified_at }}</span></p>
    </div>

    <hr>

    <div class="content markdown-body">{{ blog.content|safe }}</div>

    <div class="footer">
      {% if blog.next %}
      <a href={{ url_for('blogs.show_blog', blogid=blog.next.id) }} class="right">下一篇 {{ blog.next.title }}<span class="glyphicon glyphicon-chevron-right"></span></a>
      {% endif %}
      {% if blog.last %}
      <a href={{ url_for('blogs.show_blog', blogid=blog.last.id) }}><span class="glyphicon glyphicon-chevron-left"></span>上一篇 {{ blog.last.title }}</a>
      {% else %}
      <p>&nbsp</p>
      {% endif %}
    </div>

    {% for comment in comments %}
    <div class="blog-comment-cell">
      <div>
        <div class="user-avatar"><a href="{{ url_for('users.profile', userid=comment.user_id) }}"><img src="{{ comment.user_avatar }}" width=36></img></a></div>
        <div class="user-name"><a href="{{ url_for('users.profile', userid=comment.user_id) }}">{{ comment.user_name }}</a></div>
        <div>{{ loop.index }}楼 {{ comment.created_at }}</div>
      </div>
      <div class="comment-content">{{ comment.content|safe }}</div>
    </div>
    {% endfor %}

    <div class="blog-comment-edit">
      <form id="create_comment_form">
        <label>评论：</label>
        <div class="markdown-editor">
          <textarea class="editor" name="content" rows="3" placeholder='文章支持 Markdown 语法, 请注意标记代码'></textarea>
        </div>
        <div class="editor-buttons">
          <input type="submit" class="span-common span-primary" value="评论">
        </div>
      </form>
    </div>

  </div>

  <div class="col-md-4">
    <div class="blog-sidebar">
    {% include "sidebar/author.html" %}
    {% if not g.user %}
    {% include "sidebar/usercard.html" %}
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block bottom %}
<script src="/static/lib/editor/editor.js"></script>
<script src="/static/lib/webuploader/webuploader.withoutimage.js"></script>
<script src="/static/lib/editor/ext.js"></script>
<script>
(function () {
  var editor = new Editor();
  editor.render($('.editor')[0]);

  $("#delete_blog").click(deleteBlog);

  $("#create_comment_form").on("submit", function(e) {

    var content = $(this).find('textarea[name="content"]').val();
    if(!content) {
      alert('评论不能为空');
      return false;
    }

    $.ajax({
      type:"POST",
      url:"{{ url_for('comments.create_comment') }}",
      data: {
        "blogid": {{ blog.id }},
        "content": content
      },        
      success:function(data){
        if(data.errcode==0){
          alert(data.msg);
          location.href = "{{ url_for('blogs.show_blog', blogid=blog.id) }}";
        }else{
          alert(data.msg);
        }
      },
      error: function(){
        alert("评论失败!");
      }         
    });

    return false;
  });
})();

function deleteBlog() {
  if(confirm("确定删除该文章？")) {
    $.ajax({
      type:"POST",
      url:"{{ url_for('blogs.delete_blog', blogid=blog.id) }}",       
      success:function(data){
        if(data.errcode==0){
          alert(data.msg);
          location.href = "{{ url_for('index') }}";
        }else{
          alert(data.msg);
        }
      },
      error: function(){
        alert("删除文章失败!");
      }         
    });
  }
}
</script>
{% endblock %}