{% extends "base.html" %}

{% block header %}
<link href="/static/lib/editor/editor.css" rel="stylesheet">
<link href="/static/lib/webuploader/webuploader.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row blog-edit">
  <div class="col-md-8">
    <ol class="breadcrumb">
      <li><a href="/">主页</a></li>
      <li class="active">{{ '编辑文章' if isEdit else '写文章' }}</li>
    </ol>

    <div class="panel">
      {% from "forms/macros.html" import render_field %}
      <form method="post">
        {{ render_field(form.title, class="form-control") }}
        {{ render_field(form.content, class="editor") }}
        <input type="submit" class="span-common span-primary" value="提交">
      </form>
    </div>
  </div>

  <div class="col-md-4">
    {% include "sidebar/usercard.html" %}
  </div>
</div>
{% endblock %}

{% block bottom %}
<script src="/static/lib/editor/editor.js"></script>
<script src="/static/lib/webuploader/webuploader.withoutimage.js"></script>
<script src="/static/lib/editor/ext.js"></script>
<script>
(function () {
    var editor = new Editor();
    editor.render($('.editor')[0]);
})();
</script>
{% endblock %}
