{% extends "base.html" %}
{% if tag %}
{% set title = tag %}
{% else %}
{% set active_page = "index" %}
{% endif %}

{% block body %}
<div class="row">

  <div class="col-sm-8 blog-main">
    {% if tag %}
    <ol class="breadcrumb">
      <li><a href="/">主页</a></li>
      <li class="active">{{ tag }}</li>
    </ol>
    {% endif %}
    {% include 'blogs/bloglist.html' %}
  </div>

  <div class="col-sm-4">
    <div class="blog-sidebar">
    {% include "sidebar/usercard.html" %}
    {% include "sidebar/newposts.html" %}
    {% include "sidebar/archive.html" %}
    {% include "sidebar/contact.html" %}
    </div>
  </div>

</div>
{% endblock %}