<div class="blog-sidebar">
  {% if not g.user %}
  <div class="sidebar-module sidebar-module-inset">
    <p>这里是Kevenwu的官方网站</p>
    <p>
      <a href={{ url_for('users.login') }}>
        <span class="span-common span-github">
          <img src="/static/img/github.png"> GitHub登录</span>
      </a>
      <a href={{ url_for('users.login') }}>
        <span class="span-common span-weibo">
          <img src="/static/img/weibo.png"> 微博登录
        </span>
      </a>
    </p>
  </div>
  {% else %}
  {% include "users/usercard.html" %}
  <div class="sidebar-module sidebar-module-inset">
    <div>
      <a href={{ url_for('blogs.create_blog') }}>
        <span class="span-common span-success">写文章</span>
      </a>
    </div>
  </div>
  {% endif %}

  <div class="sidebar-module sidebar-module-inset">
    <p>文章归类</p>
    <ol class="list-unstyled">
      <li><a href="#">python</a></li>
    </ol>
  </div>
  <div class="sidebar-module sidebar-module-inset">
    <p>联系我</p>
    <ol class="list-unstyled">
      <li><a href="#">GitHub</a></li>
      <li><a href="#">Facebook</a></li>
    </ol>
  </div>
</div>