{% extends "base.html" %}
{% set active_page = "about" %}

{% block body %}
<div class="row about">
  <div class="col-md-2">
    <img src="http://7xr7bq.com1.z0.glb.clouddn.com/head.jpg"/>
  </div>
  <div class="col-md-10">
    <h1>吴凯(Kevenwu)</h1>
    <p>曾就职腾讯Android高级工程师，现在互联网医疗行业创业，欢迎交流！</p>
    <h3>联系方式</h2>
    <p>邮箱: <a href="mailto:mars@kevenwu.com">mars@kevenwu.com</a></p>
    <p>Github: <a href="https://github.com/kevenwu">https://github.com/kevenwu</a></p>
    <p>Facebook: <a href="https://www.facebook.com/keven.wu.775">https://www.facebook.com/keven.wu.775</a></p>
  </div>
</div>
{% endblock %}