/*
 * Globals
 */

body {
  font: 14px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-weight: normal;
  color: #333;
}

body,html {
  margin: 0;
  padding: 0;
  height:100%;
}

#main {
  position: relative;
  min-height:100%;
  _height:100%;
}

#content {
  padding: 0;
  padding-bottom: 120px;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100%;
  background:#ccc;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

a.dark {
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #666;
}

a.dark:link, a.dark:visited, a.dark:active {
  color: #666;
  text-decoration: none;
}

a.dark:hover {
  color: #385f8a;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.right {
  float: right;
}

.form_field {
  margin-bottom: 15px;
}

.form_field .label {
  padding-left: 0px;
  font-size: 14px;
  color: #555;
}

.form_field input {
  border: none;
}

.form_field .errors {
  list-style: none;
  padding-left: 0px;
  color: #ff4040;
}

.form_field .errors>li {
  padding-top: 5px;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 0;
  border-width: 0 0 1px;
  font-size: 16px;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.blog-masthead .navbar-brand {
  padding: 5px 15px;
}

.blog-masthead .navbar-brand img {
  padding-right: 5px;
}

.blog-masthead .navbar-brand,
.blog-masthead .navbar-brand:hover,
.blog-masthead .navbar-nav>li>a {
  font-weight: 500;
  color: #cdddeb;
}

.blog-masthead .navbar-right {
  margin-right: -28px;
}

.blog-masthead .navbar-nav>.active>a, 
.blog-masthead .navbar-nav>.active>a:focus,
.blog-masthead .navbar-nav>.active>a:hover,
.blog-masthead .navbar-nav>li>a:hover,
.blog-masthead .navbar-nav>.open>a, 
.blog-masthead .navbar-nav>.open>a:focus, 
.blog-masthead .navbar-nav>.open>a:hover {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

.blog-masthead .navbar-nav>.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ffffff;
  border-left: 5px solid transparent;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 14px;
  line-height: 2em;
  margin-top: 60px;
  padding-right: 30px;
}

/* Sidebar modules for boxing content */
.blog-sidebar {
  margin-top: 60px;
}

.sidebar-module {
  padding: 15px;
  margin: 0 0 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/*
 * Blog posts
 */

.blog-cell {
  padding: 10px 0;
  text-align: justify;
}

.blog-cell .title {
  font-weight: bold;
  line-height: 1.4;
  font-size: 2.25em;
  line-height: 1.2;
}

.blog-cell .content {
  font-size: 16px;
}

.blog-cell a.dark {
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #333;
}

.blog-cell a.dark:link, a.dark:visited, a.dark:active {
  color: #333;
  text-decoration: none;
}

.blog-cell a.dark:hover {
  color: #333;
}

.blog-cell-footer {
  padding: 50x 0;
  font-size: 14px;
  color: #999
}

.blog-cell-footer >p {
  /*margin-bottom: 0;*/
}

.blog-cell-footer >p >span {
  margin-left: 1em;
}

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  /*margin-bottom: 20px;*/
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.span-common {
  display: inline-block;;
  float: none;
  padding: 3px 10px;
  border: none;
  margin: 0;
  font-size: 14px;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  background-color: #e5e5e5;
  border-radius: 4px;
}

.span-common:hover {
  background-color: #909090;
}

.span-primary {
  color: white;
  background-color: #08c;
}

.span-primary:hover {
  background-color: #05c;
}

.span-info {
  color: white;
  background-color: #5bc0de;
}

.span-info:hover {
  background-color: #2f96b4;
}

.span-github {
  border: 1px solid #ddd;
  color: white;
  background-color: #5bc0de;
  width: 48%;
  margin-right: 5px;
}

.span-github:hover {
  background-color: #2f96b4
}

.span-github img {
  /*vertical-align: top;*/
  padding-bottom: 2px;
}

.span-weibo {
  border: 1px solid #ddd;
  color: #555;
  background-color: #ffffff;
  width: 48%;
}

.span-weibo:hover {
  background-color: #e5e5e5
}

.span-weibo img {
  /*vertical-align: top;*/
  padding-bottom: 2px;
}

.span-success {
  color: white;
  background-color: #80bd01;
}

.span-success:hover {
  background-color: #6ba44e;
}

.user-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  vertical-align: middle;
}

a.user-avatar img:hover {
  text-decoration: none;
}

.usercard .user-name {
  font-size: 16px;
  margin-left: 0.5em;
}

.usercard .user-avatar img {
  width: 48px;
  height: 48px;
}

.user-name {
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.blog-edit {
  margin-top: 40px;
  margin-bottom: 40px;
}

.blog-edit .panel {
  padding: 15px;
  background-color: #f5f5f5;
}

.blog-edit .editor-buttons {
  margin-top: 20px;
}

.blog-detail {
  margin-top: 60px;
  margin-bottom: 40px;
  line-height: 2em;
}

.markdown-body h1, 
.markdown-body h2, 
.markdown-body h3, 
.markdown-body h4, 
.markdown-body h5, 
.markdown-body h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}
.markdown-body img {
  width: 100%;
  border: 1px solid #eee;
}

.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.markdown-body h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.5em;
  background-color: #f7f7f7;
  border-radius: 3px;
  border: none;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.markdown-body pre code {
  display: inline;
  font-size: inherit;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.blog-detail hr {
  margin-top: 0;
  margin-bottom: 25px;
}

.blog-detail .title {
  font-weight: bold;
  line-height: 1.4;
  font-size: 2.25em;
  line-height: 1.2;
}

.blog-detail .desp {
  padding-top: 5px;
  font-size: 14px;
  color: #999
}

.blog-detail .desp span {
  padding-left: 1em;
}

.blog-detail .content {
  font-size: 16px;
  color: #333;
}

.blog-detail .footer {
  margin: 30px 0;
}

.blog-comment-edit {
  padding: 15px;
  margin: 30px 0 20px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.blog-comment-edit .CodeMirror {
  height: 120px;
}

.blog-comment-cell {
  padding: 15px;
  margin: 0 0 20px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #999;
  font-size: 14px;
}

.blog-comment-cell .user-avatar {
  float: left;
  font-size: 14px;
}

.blog-comment-cell .user-name {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.blog-comment-cell .comment-content {
  padding-top: 5px;
  padding-left: 40px;
  color: #333;
}

.list-group {
  border: none;
}